.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: blue dotted;
}


.App__text {
  margin: 40px auto 20px;
  text-decoration: solid;
  max-width: 600px;
  overflow: hidden;
  
}

.App__border{
  border: gainsboro inset 1px;
}
